<div class="card shadow p-4 mt-4 mx-auto" style="max-width: 500px;">
    <h3 class="text-center mb-3 text-danger fw-bold">
        {{ editMode ? "Editar Prato" : "Cadastrar Prato" }}
    </h3>

    <form [formGroup]="form" (ngSubmit)="save()">

        <div class="mb-3">
            <label class="form-label fw-bold">Nome</label>
            <input type="text" class="form-control" formControlName="nome" required>
        </div>

        <div class="mb-3">
            <label class="form-label fw-bold">Preço (R$)</label>
            <input type="number" step="0.01" class="form-control" formControlName="preco" required>
        </div>

        <div class="mb-3">
            <label class="form-label fw-bold">Descrição</label>
            <textarea class="form-control" rows="3" formControlName="descricao" required></textarea>
        </div>


        <button class="btn btn-success w-100 fw-bold mt-3" type="submit">
            {{ editMode ? "Salvar Alterações" : "Salvar Prato" }}
        </button>

        <button *ngIf="editMode" class="btn btn-secondary w-100 fw-bold mt-2" type="button" (click)="resetForm()">
            Cancelar Edição
        </button>
        
    </form>
</div>

<div class="container mt-5">
    <h3 class="text-center mb-4 text-danger fw-bold">Lista de Pratos</h3>

    <div class="table-responsive shadow rounded">
        <table class="table table-striped table-hover align-middle">
            <thead class="table-danger">
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Preço (R$)</th>
                    <th>Descrição</th>
                    <th class="text-center">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of dishes; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.nome }}</td>
                    <td>{{ item.preco }}</td>
                    <td>{{ item.descricao }}</td>
                    <td class="text-center">
                        <button class="btn btn-sm btn-warning me-1" (click)="edit(item)">Editar</button>
                        <button class="btn btn-sm btn-danger" (click)="delete(item._id!)">Excluir</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>