<div class="card shadow p-4 mt-4 mx-auto mt-5" style="max-width: 500px;">
    <h3 class="text-center mb-3 text-danger fw-bold">Cadastrar Prato</h3>

    <form>


        <div class="mb-3">
            <label class="form-label fw-bold">Nome do Prato</label>
            <input type="text" class="form-control" placeholder="Ex: Feijoada" required>
        </div>


        <div class="mb-3">
            <label class="form-label fw-bold">Preço (R$)</label>
            <input type="number" step="0.01" class="form-control" placeholder="Ex: 25.90" required>
        </div>

        <div class="mb-3">
            <label class="form-label fw-bold">Descrição</label>
            <textarea class="form-control" rows="3" placeholder="Ex: Prato tradicional brasileiro..."></textarea>
        </div>

        <button class="btn btn-success w-100 fw-bold mt-3" type="submit">
            Salvar Prato
        </button>

    </form>
</div>