<div class="container mt-5">
    <div class="p-5 bg-light rounded shadow text-center p-5 bg-light rounded shadow">
        <h1 class="display-4 text-danger fw-bold">Bem-vindo ao Ton's Restaurant!</h1>
        <p class="lead mt-3">Aqui você encontra os melhores pratos e bebidas, preparados com carinho e ingredientes
            frescos.</p>
        <hr class="my-4">
        <p class="mb-4">Explore nosso cardápio e descubra sabores que vão conquistar seu paladar.</p>
        <div class="d-flex justify-content-center gap-3">
      <a class="btn btn-success btn-lg" routerLink="/dishes" role="button">Ver Pratos</a>
      <a class="btn btn-danger btn-lg" routerLink="/drinks" role="button">Ver Bebidas</a>
    </div>
    </div>
</div>