<div class="container mt-5">
    <div class="p-5 bg-light rounded shadow text-center p-5 bg-light rounded shadow">
        <h1 class="display-4 text-danger fw-bold">Bem-vindo ao Sistema de cadastro Ton's Restaurant!</h1>
        <p class="lead mt-3">Aqui você pode cadastrar pratos e bebidas incluidas no estoque fisico do Restaurante.</p>
        <hr class="my-4">
        <p class="mb-4">Navegue entre as duas opções de cadastro</p>
        <div class="d-flex justify-content-center gap-3">
      <button class="btn btn-success btn-lg" routerLink="/dishes" role="button">Ver Pratos</button>
      <button class="btn btn-danger btn-lg" routerLink="/drinks" role="button">Ver Bebidas</button>
    </div>
    </div>
</div>