<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
        <div class="container-fluid">
            <img src="assets/logoRestaurante.png" width="60" alt="Logo" class="me-2">
            <a class="navbar-brand">Toron Ton Ton Restaurant's</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link ms-2" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/pratos" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Pratos</a>
                    </li>
                    <li class="nav-item">
                       <a class="nav-link" routerLink="/bebidas" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Bebidas</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>